<body>
  ad
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- XYZ 336 x 280 -->
<ins class="adsbygoogle"
 style="display:inline-block;width:336px;height:280px"
 data-ad-client="ca-pub-6166518290697668"
 data-adtest="on"
 data-ad-slot="6166518290697668"></ins>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({});
</script>
  <script
    data-ad-client="ca-pub-6166518290697668"
    data-adtest="on"
    async
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"
  ></script>
</body>
