<form class="contact-form-wrapper" accept-charset="UTF-8" action="{{ .Get "action" }}" method="POST" role="form">
{{/*  <label for="name">Name</label>
<input type="text" id="name" name="name" required placeholder="Your Name" aria-labelledby="name"/>
<br>

<input type="email" id="email" name="email" required placeholder="Email" aria-labelledby="email"/>
<br>
<label for="message">Message</label>
<textarea id="message" name="message" aria-labelledby="message"></textarea>
<br>
<input type="submit" value="Send"/>  */}}
</form>

<label for="email">Email Address</label>

please gimme adds

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins
  class="adsbygoogle"
  style="display:block"
  data-ad-client="{{ .Site.Params.adsenseClient }}"
  data-ad-slot="{{ .Site.Params.adsenseSlot }}"
  data-ad-format="auto"
></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
{{/*  <div>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-6166518290697668",
    enable_page_level_ads: true
  });
</script>
</div>  */}}
